html_20160226/assignment5/catalog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="recordNum"/>
              <xs:element type="xs:date" name="releaseDate"/>
              <xs:element type="xs:string" name="format"/>
              <xs:element type="xs:byte" name="length"/>
              <xs:element type="xs:string" name="sku"/>
              <xs:element type="xs:string" name="recordTitle"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

